*, *:after, *:before {
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

.clearfix:before, .clearfix:after {
  display: table;
  content: ''; }

.clearfix:after {
  clear: both; }

body {
  background: #FFF;
  color: #2f3238;
  font-weight: 400;
  font-size: 1em;
  font-family: "Raleway", Arial, sans-serif; }

a {
  outline: none;
  color: #3498db;
  text-decoration: none; }

a:hover, a:focus {
  color: #528cb3; }

section {
  padding: 1em;
  text-align: center; }

.content {
  margin: 0 auto;
  max-width: 1000px; }

/* Header */
header {
  margin: 0 auto;
  padding: 2em 1em;
  text-align: center; }

header h1 {
  margin: 0;
  font-weight: 800;
  font-size: 4em;
  line-height: 1.3; }

header h1 span {
  display: block;
  padding: 0 0 0.6em 0.1em;
  color: #74777b;
  font-weight: 300;
  font-size: 45%; }

footer {
  text-align: center;
  font-size: 70%; }

/**
 * Layout
 */
.cols {
  overflow: hidden;
  width: 100%;
  margin: 0 auto 1em;
  clear: both; }

.cols > .col {
  display: block;
  float: left;
  width: 100%;
  margin-left: 0%;
  margin-bottom: -99999px;
  padding-bottom: 99999px; }

.cols--3 > .col {
  width: 32%;
  margin-left: 2%; }

.cols--3 > .col:first-child {
  margin-left: 0; }

/**
 * Touchfocus
 */
.touchfocus a {
  display: none !important; }

.touchfocus:focus a,
.touchfocus:hover a {
  display: block !important; }

/**
 * Box styling
 */
.box {
  position: relative;
  background-color: #528cb3;
  padding-left: 1em;
  padding-right: 1em; }

.box > a {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%; }

.box a {
  color: #FFF; }

.box a:hover,
.box a:focus {
  color: #ddd; }

.box h2 em {
  font-style: normal;
  color: #FFF; }

.box p em {
  color: #ddd; }

.box figure {
  position: absolute;
  left: 0;
  margin: 8em 0 0 0;
  padding: 0;
  width: 100%;
  top: 0;
  text-align: center; }

.box img {
  height: 8em; }

.box--effect p {
  min-height: 8em; }

/**
 * Box effect
 */
.box--effect {
  position: relative; }

.box--effect figure {
  opacity: 1;
  -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
  transition: opacity 0.35s, transform 0.35s;
  -webkit-transform: translate3d(0, 0, 0) scale(1);
  transform: translate3d(0, 0, 0) scale(1); }

.box--effect:hover figure,
.box--effect:focus figure {
  opacity: 0;
  -webkit-transform: translate3d(0, -20px, 0) scale(0.8);
  transform: translate3d(0, -20px, 0) scale(0.8); }

.box--effect h2 {
  text-align: center;
  margin-top: 1em;
  -webkit-transition: -webkit-transform 0.35s;
  transition: transform 0.35s;
  -webkit-transform: translate3d(0, 20px, 0);
  transform: translate3d(0, 20px, 0);
  height: 3em; }

.box--effect:hover h2,
.box--effect:focus h2 {
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0); }

.box--effect p {
  margin: 0 0;
  padding: 1em;
  border-top: 4px solid #FFF;
  opacity: 0;
  -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
  transition: opacity 0.35s, transform 0.35s;
  -webkit-transform: translate3d(0, 20px, 0) scale(1.1);
  transform: translate3d(0, 20px, 0) scale(1.1);
  margin-bottom: 1em; }

.box--effect:hover p,
.box--effect:focus p {
  opacity: 1;
  -webkit-transform: translate3d(0, 0, 0) scale(1);
  transform: translate3d(0, 0, 0) scale(1); }

/**
 * Projects
 */
.box--projects ul {
  margin: 1em 0;
  padding: 0; }

.box--projects ul li {
  display: inline-block;
  margin: 0; }

.box--projects ul li a {
  border: 2px solid #FFF;
  padding: 0.5em;
  margin-right: 0.25em;
  line-height: 3em;
  -webkit-transition: all 0.35s ease;
  transition: all 0.35s ease; }

.box--projects ul li a:hover {
  color: #2f3238;
  background: #FFF; }

/**
 * Responsive behaviour
 */
@media screen and (max-width: 25em) {
  header {
    font-size: 75%; }
  .content {
    padding: 0 10px; } }

@media screen and (max-width: 50em) {
  .cols > .col {
    display: inline-block;
    float: none;
    margin: 10px auto;
    padding-bottom: 0;
    width: 100%; }
  /* Currently disable for mobile unitl it looks nice. */
  .box img {
    height: 4em; }
  .box--effect p {
    min-height: 4em; } }
